{% extends "base.html" %}
{% block title %}{{ recipe[1] }}{% endblock %}

{% block content %}

<h1>{{ recipe[1] }}</h1>

Cooking time: {{ recipe[2] }} minutes.
<br>
<br>
{{ recipe[3] }}
<br>
<br>
Published by: <a href="/profile/{{ recipe[7] }}">{{ recipe_publisher_name }}</a> at {{ recipe[5] }}
<br>
<form action="/like_recipe/{{ recipe[0] }}" method="POST">
	Likes: {{ recipe[4] }} <input type="submit" value="Like">
</form>
<br>

{% if session.user_id == recipe[7] or is_admin %}
<form action="/edit_recipe/{{ recipe[0] }}" method="POST">
	<input type="submit" value="Edit recipe">
</form>
<form action="/delete_recipe/{{ recipe[0] }}" method="POST">
	<input type="submit" value="Delete recipe">
</form>
{% endif %}

{% endblock %}