{% extends "base.html" %}
{% block title %}{{ recipe[1] }}{% endblock %}

{% block content %}

<h1>{{ recipe[1] }}</h1>

Cooking time: {{ recipe[2] }} minutes.
<br>
<br>
{{ recipe[3] }}
<br>
<br>
Published by: <a href="/profile/{{ recipe[7] }}">{{ recipe_publisher_name }}</a> at {{ recipe[5] }}
<br>
<form action="/like_recipe/{{ recipe[0] }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ token }}">
	Likes: {{ recipe[4] }} <input type="submit" value="Like">
</form>

{% if session.user_id == recipe[7] %}
<form action="/edit_recipe/{{ recipe[0] }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ token }}">
	<input type="submit" value="Edit recipe">
</form>
{% endif %}
{% if session.user_id == recipe[7] or is_admin %}
<form style="display:inline;" action="/delete_recipe/{{ recipe[0] }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ token }}">
	<input type="submit" value="Delete recipe">
</form>
{% endif %}

<br>
<hr>

<form action="/add_comment/{{ recipe[0] }}" method="GET">
	<input type="hidden" name="csrf_token" value="{{ token }}">
	<input type="submit" value="Add a comment">
</form>

{% for comment in recipe_comments %}

{{ comment.content }}
<br>
Likes: {{comment.likes}}, Published by: <a href="/profile/{{ comment.user_id }}">{{ comment.username }}</a> at {{ comment.created_at }}
<form action="/like_comment/{{ comment.id }}" method="POST">
	<input type="hidden" name="csrf_token" value="{{ token }}">
	<input type="hidden" name="recipe_id" value="{{ recipe[0] }}">
	<input type="submit" value="Like">
</form>
<hr>
{% endfor %}

{% endblock %}